*{font-family: "Oswald", sans-serif;color: rgb(32, 10, 31);}

.cabecera{display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../images/wp4720671-color-pastel-wallpapers.jpg);}

.cabecera h1{letter-spacing: 0.5rem;
        padding-left: 0.5rem;}
    
.barra{display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(208, 43, 226, 0.264);}
        
.h2cabecera{font-size: 1.2rem;margin-left: 10px;}
        
.tematica{text-align: center;}

.nav-link:hover{background-color: rgb(133, 84, 180);
    transition: 1s; border-radius: 5px;}
    a:visited{color: aqua;}

/* aplica al body main index */

body{background-image: url(../images/fondoTortas.webp);}


.fotito{display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: repeat(2,200px);
row-gap: 1rem;
column-gap: 1rem;
margin-left: 2rem;
margin-right: 5rem;
}

.uno{grid-row: 1 / 3;}
.dos{grid-row: 1 / 3;}
.tres{grid-row: 1 / 3;}
.fotito img{width: 100%;height: 100%;}

p{text-align: center;
margin: 0 1rem 0 1rem;
text-indent: 10px;
font-weight: 450;}

.subtituloRepo{text-align: center;
    margin-top: 3rem;}

/* aplica al body Footer */

.linkFooters{text-decoration: none;list-style: none;}
.small{text-align: center;}
footer{background-color: rgba(208, 43, 226, 0.264);
padding-bottom: 0.2rem;}
.footer{justify-content: end;}


/* aplica al body main Suscribir */

.formIngresar{display: grid;
grid-template-columns: 50%;
grid-template-rows: repeat(3,30px);
grid-row: 1/ 3;
margin-left: 2rem;}
.enviar{margin-left: 1rem;}

.parrafoSuscribir{font-size: 0.9rem;
margin-bottom: 2rem;}

.RegistroSuscribir{display: flex;
justify-content: center;
margin-bottom: 2rem;}

.RegistroSuscribir a{text-decoration: none;}










@media screen and (max-width:500px){
    .fotito{display:block;
    padding: 0.5rem;}
    .formIngresar{grid-template-columns: 75%;}
.carousel-inner{justify-content: space-around;}}

@media screen and (min-width:501px) and (max-width:960px){
.fotito{display:inline-block;
padding-bottom: 1rem;}
.linkFooter{display: flex;
justify-content: space-between;}
footer{margin-top: 7rem;}
.carousel-inner{display: grid;
grid-template-columns: 75%;justify-content: center;}}


@media screen and (min-width:961px){
    .quienes{display: flex;}
    .linkFooter{display: flex;
    justify-content: space-around;}
    footer{margin-top: 6rem;}
    .carousel-inner{display: grid;
    grid-template-columns: 60%;justify-content: center;}}

