* {
  font-family: "Oswald", sans-serif;
  color: rgb(32, 10, 31);
}

body {
  background-image: url(../images/fondoTortas.webp);
}

.cabecera {
  justify-content: center;
  background-image: url(../images/wp4720671-color-pastel-wallpapers.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.barra {
  justify-content: space-between;
  background-color: rgba(208, 43, 226, 0.264);
}

.cabecera h1 {
  letter-spacing: 0.5rem;
  padding-left: 0.5rem;
}

.h2cabecera {
  font-size: 1.2rem;
  margin-left: 10px;
}

.linkFooters {
  text-decoration: none;
  list-style: none;
  font-size: 0.7rem;
}

.small {
  text-align: center;
}

footer {
  background-color: rgba(208, 43, 226, 0.264);
  position: sticky;
  width: 100%;
}

/* aplica al body main index */
.fotito {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(2, 200px);
  row-gap: 1rem;
  column-gap: 1rem;
  margin-left: 2rem;
  margin-right: 5rem;
}

.parrafoIndex {
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 1rem;
  padding: 1rem;
}

.fotito img {
  width: 100%;
  height: 100%;
}

p {
  text-align: center;
  margin: 0 1rem 0.5rem 0.5rem;
  text-indent: 10px;
  font-weight: 450;
}

.subtituloRepo {
  text-align: center;
  margin-top: 3rem;
}

/* aplica al body main Suscribir */
.formIngresar {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: repeat(3, 25px);
  grid-row: 1/3;
  margin-left: 2rem;
}

.formIngresar {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.enviar {
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.parrafoSuscribir {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

input {
  border-radius: 0.4rem;
}

.RegistroSuscribir a {
  text-decoration: none;
}

.RegistroSuscribir {
  display: flex;
  justify-content: center;
}

.imgSuscribr {
  float: right;
}

.novedadesh1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.h2article {
  font-size: 18px;
  color: rgb(240, 248, 255);
  background-color: rgba(147, 100, 153, 0.853);
  border-radius: 0.5rem;
  width: 150px;
  margin-bottom: 1rem;
}

.h3article {
  font-size: 15px;
  text-decoration: overline;
}

.p-article {
  text-align: start;
  font-size: 12px;
}

.novedades {
  background-color: rgba(247, 243, 249, 0.827);
  width: 310px;
  padding-top: 1rem;
  border-radius: 0.5rem;
}

.articleSuscribir {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.article {
  background-color: rgba(245, 175, 243, 0.516);
  width: 290px;
  border-radius: 0.3rem;
}

/* aplica al body main Cursos */
.videoCursos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(2, 100px);
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: space-around;
}

.video1 {
  grid-row: 1/3;
}

.video2 {
  grid-row: 1/3;
}

.video3 {
  grid-row: 1/3;
}

.nav-link:hover {
  background-color: rgb(133, 84, 180);
  transition: 1s;
  border-radius: 5px;
}

.navbar {
  color: rgba(255, 255, 255, 0);
}

a:visited {
  color: aqua;
}

.cabecera, .barra {
  display: flex;
  align-items: center;
}

.novedadesSitio {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.novedadesh1, .h2curso {
  text-align: center;
  text-decoration: overline;
}

.uno, .dos, .tres {
  grid-row: 1/3;
}

@media screen and (max-width: 500px) {
  .fotito {
    display: block;
    padding: 0.5rem;
  }
  .formIngresar {
    grid-template-columns: 75%;
  }
  .imgTrabajos {
    width: 100%;
    height: 100%;
  }
  .slide {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    align-items: center;
  }
  .linkFooter {
    display: grid;
    justify-content: center;
  }
  .articleSuscribir {
    display: grid;
    justify-content: center;
  }
  .videoCursos {
    display: block;
    margin-left: 3%;
  }
  .inputRegistro {
    height: 1.3rem;
  }
}
@media screen and (min-width: 501px) and (max-width: 960px) {
  .fotito {
    display: block;
    padding-bottom: 1rem;
    width: 60%;
    margin-left: 13%;
  }
  .linkFooter {
    display: flex;
    justify-content: space-between;
  }
  .slide {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    align-items: center;
  }
  .articleSuscribir {
    display: grid;
    justify-content: center;
  }
  .videoCursos {
    display: block;
    justify-content: space-between;
  }
  .video3 {
    grid-column: 0.3333333333;
  }
}
@media screen and (min-width: 961px) {
  .quienes {
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
  .linkFooter {
    display: flex;
    justify-content: space-around;
  }
  .slide {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    align-items: center;
  }
  .imgTrabajos {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
