* {
  font-family: "Oswald", sans-serif;
  color: rgb(32, 10, 31);
}

body {
  background-image: url(../images/fondoTortas.webp);
}

.cabecera {
  justify-content: center;
  background-image: url(../images/wp4720671-color-pastel-wallpapers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.barra {
  justify-content: space-between;
  background-color: rgba(208, 43, 226, 0.264);
  margin-bottom: 3rem;
}

.cabecera h1 {
  letter-spacing: 0.5rem;
  padding-left: 0.5rem;
}

.h2cabecera {
  font-size: 1.2rem;
  margin-left: 10px;
}

.linkFooters {
  text-decoration: none;
  list-style: none;
  font-size: 0.7rem;
}

.small {
  text-align: center;
}

footer {
  background-color: rgba(208, 43, 226, 0.264);
  position: relative;
  bottom: 0;
  width: 100%;
}

/* aplica al body main index */
.parrafoIndex {
  display: flex;
  background-color: rgba(255, 255, 255, 0.516);
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
}

.parrafoIndex:hover {
  background-color: rgb(253, 250, 250);
  transition: 1s;
}

.fotito img {
  width: 100%;
  height: 100%;
}

p {
  text-align: center;
  margin: 1rem 2.5rem;
  text-indent: 10px;
  font-weight: 450;
}

.fotito {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 2rem;
  padding: 5rem 2rem 0 2rem;
  width: 65%;
}

/* aplica al body main Suscribir */
.formIngresar {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: repeat(3, 25px);
  background-color: rgba(232, 124, 221, 0.336);
  margin: 0 auto;
  justify-content: center;
}

.parrafoSuscribir {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

input {
  border-radius: 0.4rem;
}

.RegistroSuscribir a {
  text-decoration: none;
  align-items: center;
}

.RegistroSuscribir {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.nav-linkRegistro {
  background-color: rgb(242, 114, 165);
  border-radius: 0.5rem;
}

.novedadesh1 {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.h2article {
  font-size: 18px;
  color: rgb(240, 248, 255);
  background-color: rgba(147, 100, 153, 0.853);
  border-radius: 0.5rem;
  width: 150px;
  margin-bottom: 1rem;
}

.h3article {
  font-size: 15px;
  text-decoration: overline;
}

.p-article {
  text-align: start;
  font-size: 12px;
}

.novedades {
  background-color: rgba(247, 243, 249, 0.827);
  width: 290px;
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
}

.articleSuscribir {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.article {
  background-color: rgba(245, 175, 243, 0.516);
  width: 250px;
  margin: 0 auto;
  border-radius: 0.3rem;
  align-items: center;
  justify-content: center;
}

/* aplica al body main Cursos */
.videoCursos {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.video1, .video2, .video3 {
  transition: 3s;
}

.h2curso {
  margin-top: 3rem;
}

.descripcionTorta {
  background-color: rgba(239, 131, 212, 0.644);
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  background-color: rgb(133, 84, 180);
  transition: 1s;
  border-radius: 5px;
}

.navbar {
  background-color: transparent !important;
}

a:visited {
  color: rgb(25, 21, 21);
}

.cabecera, .barra {
  display: flex;
  align-items: center;
}

.novedadesSitio {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.novedadesh1, .h2curso {
  text-align: center;
  text-decoration: overline;
}

.fotito img:hover, .novedadesSitio:hover, .video1:hover, .video2:hover, .video3:hover {
  transform: scale(1.1);
}

.enviar {
  margin-left: 1rem;
  border-radius: 0.5rem;
  margin-left: 50%;
}

@media screen and (max-width: 500px) {
  .formIngresar {
    grid-template-columns: 75%;
  }
  .imgTrabajos {
    margin-left: 1rem;
    width: 90%;
    height: 90%;
  }
  .slide {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    align-items: center;
  }
  .linkFooter {
    display: grid;
    justify-content: center;
  }
  .articleSuscribir {
    display: grid;
    justify-content: center;
  }
  .videoCursos {
    display: grid;
    justify-content: center;
    row-gap: 2rem;
  }
  .inputRegistro {
    height: 1.3rem;
  }
}
@media screen and (min-width: 501px) and (max-width: 960px) {
  .fotito {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
  }
  .formIngresar {
    margin: 3rem 1rem;
  }
  .imgTrabajos {
    margin-left: 4rem;
    width: 80%;
  }
  .linkFooter {
    display: flex;
    justify-content: space-between;
  }
  .slide {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    align-items: center;
  }
  .articleSuscribir {
    display: grid;
    justify-content: center;
  }
  .videoCursos {
    display: grid;
    justify-content: center;
    row-gap: 2rem;
  }
}
.parrafoIndex {
  display: flex;
  width: 60%;
  margin: 1rem auto;
}

@media screen and (min-width: 961px) {
  .fotito {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    width: 70%;
    height: 90%;
    padding-bottom: 3rem;
  }
  .quienes {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin: 0 auto;
    width: 75%;
  }
  .linkFooter {
    display: flex;
    justify-content: space-around;
  }
  .slide {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    align-items: center;
  }
  .imgTrabajos {
    width: 100%;
    margin: 0 auto;
  }
  .formIngresar {
    margin: 2rem 6rem;
  }
  .parrafoIndex {
    display: flex;
    margin: 2rem 1rem;
    width: 90%;
  }
}
.subtituloRepo {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: overline;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=styles.css.map */
