.linkFooters{text-decoration: none;
    list-style: none;
    font-size: 0.7rem;}

.small{text-align: center;}

 footer{background-color: rgba(208, 43, 226, 0.264);
    position:sticky;
    width: 100%;
    
}