.cabecera{
    @extend %flexRun;
    justify-content: center;
    background-image:url(../images/wp4720671-color-pastel-wallpapers.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.barra{
    @extend %flexRun;
    justify-content: space-between;
    background-color: rgba(208, 43, 226, 0.264);}

.cabecera h1{letter-spacing: 0.5rem;
             padding-left: 0.5rem;}

.h2cabecera{font-size: 1.2rem;
            margin-left: 10px;}
