/* aplica al body main index */
    
    .parrafoIndex{
        display: flex;
        background-color: rgba(255, 255, 255, 0.516);
        width: 100%;
        border-radius: 1rem;
        padding: 0.5rem;
            }
    .parrafoIndex:hover{
        background-color: rgb(253, 250, 250);
        transition: 1s;
    }
    
    .fotito img{
        width: 100%;
        height: 100%;
        @extend %transformScale;}
    
    p{text-align: center;
        margin: 1rem 2.5rem;
        text-indent: 10px;
        font-weight: 450;

}
.fotito{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    row-gap: 2rem;
    padding: 5rem 2rem 0 2rem;
    width: 65%;
}

    
    
/* aplica al body main Suscribir */

.formIngresar{
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: repeat(3,25px);
    background-color: rgba(232, 124, 221, 0.336);
    margin: 0 auto;
    justify-content: center;
}



.enviar{
    @extend %botonSubmit}

.parrafoSuscribir{
    font-size: 0.9rem;
    margin-bottom: 2rem;}

input{
    border-radius: 0.4rem;}

.RegistroSuscribir a{
    text-decoration: none; 
    align-items: center;
 }

.RegistroSuscribir{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    }
.nav-linkRegistro{
    background-color: rgb(242, 114, 165);
    border-radius: 0.5rem;
}

.novedadesh1{font-size: 1.2rem;
   @extend %textOverline ;
   margin-bottom: 3rem;}

.h2article{
    font-size: 18px;
    color: rgb(240, 248, 255); 
    background-color: rgba(147, 100, 153, 0.853); 
    border-radius: 0.5rem; 
    width: 150px;
    margin-bottom: 1rem;
    }

.h3article{
    font-size: 15px;
    text-decoration: overline;}

.p-article{
    text-align: start;
    font-size: 12px;}

.novedades{
    background-color: rgba(247, 243, 249, 0.827);
    width: 290px;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.5rem;}

.novedadesSitio{
    @extend %textAlineamiento;
    @extend %transformScale;
}

.articleSuscribir{
    display: flex;
    justify-content: center;
    padding: 0.5rem;}

.article{
    background-color: rgba(245, 175, 243, 0.516);
    width: 250px;
    margin:0 auto;
    border-radius: 0.3rem;
    align-items: center;
    justify-content: center;
}

/* aplica al body main Cursos */

 .videoCursos{
     display: flex;
     justify-content: space-evenly;
     padding: 0.5rem;
 }
 
.video1,.video2,.video3{
    @extend %transformScale;
    transition: 3s;
}

.h2curso{@extend %textOverline;
margin-top: 3rem;}

// Aplica carrousel main trabajos

.descripcionTorta{
    background-color: rgba(239, 131, 212, 0.644);
    font-weight: 600;color: rgb(255, 255, 255);
}
