
@media screen and (max-width:500px){

.formIngresar{grid-template-columns: 75%;
}

.imgTrabajos{
    margin-left: 1rem;
    width: 90%; height:90%;
}

.slide{
    display:grid;
    justify-content: center;
    grid-template-columns: auto;
    align-items: center;}

.linkFooter{display:grid;
    justify-content: center;}

.articleSuscribir{display: grid;
    justify-content: center;}

.videoCursos{
    display:grid;
    justify-content: center;
    row-gap: 2rem;
}

.inputRegistro{
    height: 1.3rem;}
}


@media screen and (min-width:501px) and (max-width:960px){

    .fotito{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        justify-content: center;
        column-gap: 3rem;
        width: 100%;
        height: 100%;
        padding-bottom: 3rem;
    }

   .formIngresar{
    margin: 3rem 1rem;
   }
   .imgTrabajos{
   margin-left: 4rem;   
    width: 80%; 
   }



.linkFooter{
    display: flex;
    justify-content: space-between;}

.slide{
    display:grid;
    justify-content: center;
    grid-template-columns: auto;
    align-items: center;}

.articleSuscribir{
    display: grid;
    justify-content: center;}

 .videoCursos{
    display:grid;
    justify-content: center;
     row-gap: 2rem;}
}
.parrafoIndex{
    display: flex;
    width: 60%;
    margin: 1rem auto;
}


@media screen and (min-width:961px){



.fotito{
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    width: 70%;
    height: 90%;
    padding-bottom: 3rem;
}

.quienes{
    display:flex;
    flex-direction: row;
    justify-items: center;
    margin: 0 auto;
    width: 75%;
}

.linkFooter{
    display: flex;
    justify-content: space-around;}

.slide{
    display:grid;
    justify-content: center;
    grid-template-columns: auto;
    align-items: center;}
    
.imgTrabajos{
    width: 100%;
margin: 0 auto;}

.formIngresar{
    margin: 2rem 6rem;
   }
.parrafoIndex{
    display: flex;
    margin: 2rem 1rem;
    width: 90%;
}
}